/* All: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior:smooth;
}

/* Full NavBar -- Header: */
.header {
    display: flex;
    color: rgb(0, 0, 0);
    z-index: 3;
    position: fixed;
    align-items: flex-start;
    top: 20px;
    left: 0px;
    width: 100%;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    flex-direction: column;
    justify-content: space-between;
}

#Circle {
    height: 60px;
    width: 60px;
    margin-top: -15px;
    filter: brightness(100%);
    transition: 0.3s;
}

#Circle:hover {
    height: 70px;
    width: 70px;
    filter: brightness(115%);
    transform: translateX(-7px);
}

.logo:hover {
    color: rgb(2, 0, 108);
}
.navbar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;;
    margin-right: auto;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight:lighter;
    transition: 0.2s;
}
.navbar a:hover {
    color: rgb(58,138,249);
    font-size: 22px;
    font-weight: bolder;
    /*border-bottom: 2px solid;*/
    filter: brightness(150%);
    transform: translateY(-5px);
    transform: translateX(5px);
}


/*
<div class="BLUR"
style="gradient:___; filter: blur(5px);">
</div>
*/

/* Body */
body {
        padding: 200px 170px;
        overflow-x: hidden;
        justify-content: center;
    }

/* Footer */
.foot {
    padding: 0%;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    transform: translateY(190px);
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto ;
    gap: 0px 20px;
}

.footerIcons {
    filter: saturate(30%);
    scale: 0.9;
    transition: 0.2s;
}

.footerIcons:hover {
    filter: saturate(100%);
    scale: 1;
}

.item a {
    text-decoration: none;
    color: rgba(108, 0, 0, 0.5);
    size: 20px;
    transition: 0.4s;
}















/* INDEX */

.title {
    margin-top: 50px;
    padding : 0px;
    font-weight: lighter;
    font-size: 90px;
}

.Explore h2 a {
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 27px;
font-weight:lighter;
transition: 0.3s;
transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Explore h2 a:hover {
color: rgb(58,138,249);
font-size: 32px;
font-weight: bolder;
/*border-bottom: 2px solid;*/
filter: brightness(150%);
transform: translateY(-5px);
transform: translateX(5px);
}
    /* .slide and #pizzam Animations:
    .slide {
        animation: slide auto linear;
        animation-timeline: scroll();
        animation-timing-function: ease-in;
    }

    #pizzam {
        display: block;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 0px 20px #22222299);
        animation: AutoRotateAnim;
        animation-timeline: view(10%);
        z-index: 1;
    } */

/* Index */


/*Q*/
.wave-text span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    font-weight: lighter;
    font-size:60px;
    color: rgb(58,138,249);
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1s;
}
.wave-text span:nth-child(7) {
    animation-delay: 1.2s;
}
.wave-text span:nth-child(8) {
    animation-delay: 1.4s;
}
.wave-text span:nth-child(9) {
    animation-delay: 1.6s;
}
.wave-text span:nth-child(10) {
    animation-delay: 1.8s;
}


/*Q*/


/*R*/

.containerG .cite{
    font-size: 11px;
}
/*R*/


/* A */
.scrollReveal {
    animation: scrollReveal linear both;
    animation-timeline: view(85% auto);
}
/* A */






/* Gallery */
/*

.pizza {
    scale: 1;
    transition: 0.3s;
}

.pizza:hover {
    scale: 1.1;
}
*/
/* Gallery */






    /* Animations: */
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(90%));
        }
    }

    @keyframes AutoRotateAnim {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(400deg);
        }
    }

    

    @keyframes scrollReveal {
        0% {
            filter: blur(15px);
        }
        100% {
            filter: none;
        }
    }

    @keyframes wave {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }
    